# http://editorconfig.org

# top-most EditorConfig file
root = true

# Valid for all
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Python indentation
[*.py]
indent_style = space
indent_size = 4
